{% block content %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="alignment-example">

      <!-- Links -->
      <ul class="nav justify-content-start  mr-5">
        <a class="navbar-brand" href="#">Instagram</a>
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'upload'%}">Upload image</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="{% url 'profilepage'%}">Profile </a></li>
      </ul>


    </div>

  </div>
  <span><a href="{% url 'logoutuser'%}">Logout</a></span>
</nav>
{%endblock%}